

body{
    background: #6B1500

;
}




.container{
    max-width: 400px;
}

input[type=text],
input[type=text]:focus{
    color: white;
    border: none;
    background: rgba(0,0,0,0.2);
    max-width: 400px;
}

.todos li{
    background: #901D27 ;
}

.delete{
    cursor: pointer;
}

.form-control::placeholder {
  color: white !important;
  opacity: 0.7;
}










